[submodule "PeachKit"]
	path = PeachKit
	url = https://github.com/steve228uk/PeachKit.git
[submodule "GiphyKit"]
	path = GiphyKit
	url = https://github.com/steve228uk/GiphyKit.git
[submodule "ImgurKit"]
	path = ImgurKit
	url = https://github.com/steve228uk/ImgurKit.git
[submodule "OWMKit"]
	path = OWMKit
	url = https://github.com/steve228uk/OWMKit.git
